<div class="vip-nav-footer__container">
  <!-- color switch -->
  <div class="vip-nav-footer__links">
    <button class="vip-nav-footer__button" id="colorModeButton">
      <i class="bi vip-nav-footer__icon" id="colorModeButtonIcon"></i>
    </button>

    <!-- github -->
    <a href="{{ .Site.Params.githubLink }}" target="_blank" rel="noreferrer">
      <i class="bi bi-github vip-nav-footer__icon"></i>
    </a>
  </div>

  <p class="vip-nav-footer__text">
    Licensed with <a class="vip-nav-footer__license-link" href="https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt" target="_blank" rel="license noopener noreferrer">CC0 1.0 Universal<img class="vip-nav-footer__license-icon" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img class="vip-nav-footer__license-icon" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""></a>
  </p>
</div>
