$status-palette: (
  active: #dae8fc,
  draft: #fff2cc,
  deprecated: #f8cecc,
  living: #d5e8d4,
);

$neutral-palette: (
  0: #000000,
  50: #222121,
  100: #3d3b3b,
  200: #504e4e,
  300: #635f5f,
  400: #736f6f,
  500: #898585,
  600: #9a9494,
  700: #b2adad,
  800: #d4d1d1,
  900: #ffffff,
);
