.vip-nav-footer {
  &__button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
  }

  &__icon {
    font-size: 2em;

    &:hover {
      opacity: 0.5;
    }
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    width: 100%;
  }

  &__text {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
  }

  &__license-icon {
    height: 1rem;
    margin-left: 3px;
  }

  &__license-link {
    align-items: center;
    display: inline-flex;
  }
}
