{{ $pages := sort (where .Page.RegularPages "Type" "ne" "section") ".Params.index" }}

<table class="vip-table">
  <thead>
    <tr>
      <th>Index</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    {{ if gt (len $pages) 0 }}
      {{ range $pages }}
        <tr>
          <td>
            <a href="{{ .Permalink }}">{{ .Params.index }}</a>
          </td>

          <td>{{ .Title }}</td>

          <td>{{ partial "authors" (dict "authors" .Params.author) }}</td>

          <!-- convert the status to kebab-case and add as a css modifier -->
          <td class="vip-table__status--{{ replace (replace (lower .Params.status) " " "-") "_" "-" }}">{{ .Params.status }}</td>
        </tr>
      {{ end }}
    {{ else }}
      <tr>
        <td class="vip-table__empty" colspan="4">
          No VIPs found.
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
